/* Общие стили*/
a{
    color:#76bc21;
    text-decoration:none;
    transition: opacity .25s ease;
}
a:hover{
    opacity:70%;
}

/* Header стили*/
.header{
    height: 100vh;
    background: url("https://oir.mobi/uploads/posts/2021-01/1611924087_20-p-krasivii-fon-dlya-saita-24.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

}
.header-top{
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    height: 80px;
    background: rgb(0,0,0,50%);
}

.logo{
    font-size:36px;
    color:#fff;
}
.menu{
    display: flex;
    align-items:center
    justify-content: center;
}
.menu-element {
    margin-right: 150px;
    font-size:24px;
}

.header-center{
    height:calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,50%);
    color:#fff;
}
.description{
    display:inline-block;
    width: 70ch;
    font-size :24px;
    line-height: 1.5em;
    font-family:Courier,monospace;
    white-space:nowrap;
    border-right: 3px solid #fff;
    overflow:hidden;
    animation:print-text 5s steps(60);
}
@keyframes print-text {
    from{
        width:0;
    }

}
.about-me{
    display: flex;
}
.about-me.left{
    flex: 1 1 40%
}
.about-me.right{
    flex: 1 1 60%
}
.about-me__images{
    width:300px;
}
.about-me__title{
    font-size:20px;
}
.about-me__description{
    font-size:20px;
}
.about-me__extra-element{
    font-size:20px;
}